.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.header__row {
  background-color: white;
}

.header__row tr th{
  text-align: left;
  width: auto;
  height: 35px;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding: 0rem .5rem;
}

.column {
  color: rgb(78, 78, 78);
  font-weight: 600;
  height: 35px;
  align-items: center;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.body {
}

.body tr td{
  padding: 1rem;
  border-bottom: 1px solid rgb(209, 209, 209);
}