.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.header__row {
  background-color: white;
}

.table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.123);
}

.table .header__row tr th {
  text-align: left;
  width: auto;
  height: 35px;
  border-bottom: 1px solid #D8D8DA;
  padding: 0rem .5rem;
}

.body tr td {
  padding: 1rem;
  border-bottom: 1px solid #D8D8DA;
}